<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="" class="bbq-link" data-page-name="ProductDetail" data-template-bind='[{"attribute": "data-id", "value": "Id"}]'>
            <img data-src="ImagePath" height="242" width="200" alt="">
        </a>
        <div class="caption">
            <a href="" class="bbq-link" data-page-name="ProductDetail" data-template-bind='[{"attribute": "data-id", "value": "Id"}]'>
                <h3 data-content="Name" data-format="substringShort"></h3>
            </a>
            <p data-content="Description" data-format="substringLong">

            </p>
            <div class="text-right text-muted additional">
                <a href="" class="bbq-link" data-page-name="CategoryDetail" data-template-bind='[{"attribute": "data-id", "value": "CategoryId"}]' data-content="CategoryName"></a>
            </div>
        </div>
    </div>
</div>