<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label for="productById" class=" control-label">Product ID:</label>
            <div>
                
                <input type="number" id="productById" data-page-name="ProductsById" class="form-control search-field" placeholder="Find Product"> 
                <button class="btn btn-info btn-block bbq-link" >
                    Go
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

        <div class="form-group">
            <label for="autocomplete" class=" control-label">Product name:</label>

            <input type="text" class="form-control search-field" data-page-name="ProductsByName" placeholder="Find Product">
            <button class="btn btn-info btn-block bbq-link" >
                Go
            </button>

        </div>
    </div>
    <div class="col-lg-4">

        <div class="form-group">
            <label for="categoryId" class=" control-label">Category:</label>

            <select class="form-control bbq-link" id="categoryId" ></select>

        </div>
    </div>
</div>


<div class="row well" id="productsContainer">
    
</div>